pre.syntax-highlighted {
    color: black;
}

pre.syntax-highlighted .sh-fn {
    color: maroon;
}

pre.syntax-highlighted .sh-hard {
    color: darkred;
    font-weight: bold;
}

pre.syntax-highlighted .sh-soft {
    color: slategray;
    font-weight: bold;
}

pre.syntax-highlighted .sh-class {
    font-weight: bold;
}

pre.syntax-highlighted .sh-comment {
    color: grey;
}

pre.syntax-highlighted .sh-comment > * {
    color: grey !important;
    font-weight: normal !important;
}

pre.syntax-highlighted .sh-string {
    color: blue;
}

pre.syntax-highlighted .sh-string > * {
    color: blue !important;
    font-weight: normal !important;
}

pre.syntax-highlighted .sh-int {
    color: purple;
}
