pre.syntax-highlighted {
    color: black;
}

.sh-string {
    color: blue;
}

.sh-string > * {
    color: blue !important;
    font-weight: normal !important;
}

.sh-fn {
    color: maroon;
}

.sh-hard {
    color: darkred;
    font-weight: bold;
}

.sh-soft {
    color: slategray;
    font-weight: bold;
}
